<!doctype html>
<html lang="ja">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>search</title>
</head>

<body>

    <h1 style="text-align: center">技術者検索画面</h1>

    {% include 'search/engineer_name_form.html' %}  

    <hr>
    <hr>
    
    {% include 'search/skill_list_pulldown_for_engineer.html' %}
    
    {% if request.path != "/engineer" %}
    <div class="container">
        <!-- Bootstrap4 -->
        {% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        <!-- Bootstrap4 -->
        {% block content %}
        {% endblock content %}
    </div>
    {% endif %}



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>

</html>