{% load static %}
<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <h1 style="text-align:center">トップ画面</h1>
</head>

<body>
    <br>
    <br>
    <br>
    <div class="container text-center">
        <div class="row">
            <div class="col"></div>
            <div class="col"><a href="{% url 'engineer' %}" class="btn btn-outline-success btn-lg">技術者登録画面</a></div>
            <div class="col"><a href="{% url 'engineer-list' %}" class="btn btn-outline-success btn-lg">技術者検索・編集</a></div>
            <div class="col"></div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container text-center">
        <div class="row">
            <div class="col"></div>
            <div class="col"><a href="{% url 'project_fileupload' %}" class="btn btn-outline-success btn-lg">案件情報登録画面</a></div>
            <div class="col"><a href="{% url 'project-list' %}" class="btn btn-outline-success btn-lg">案件情報検索・編集</a></div>
            <div class="col"></div>
        </div>
    </div>            
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>    